.series-list {
  padding-left: 0;
  margin-left: 0;
}

.series-list-item-header {
  position: relative;
  display: block;
  float: left;

  width: 100%;
  background: white;
  transition: all 0.3s ease-in-out;

  cursor: pointer;
}

.series-list-item {
  display: block;
  float: left;

  height: 410px;
  padding: 0;

  background: $color__background-row;

  transition: all ease-in-out 0.3s;

  &-active {
    background: $color__background-header;

    .series-list-item-title,
    .series-list-item-subtitle,
    .rating-value {
      color: white;
    }

    .rating-value {
      color: $color__star-darkbg;
    }

    .star-rating-list-item {
      i {
        color: $color__star-darkbg;
      }
    }

  }
}

.series-list-item-title-container {
  float: left;
  width: 100%;
}

.series-list-item-title {
  display: block;

  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
}

.series-list-item-subtitle {
  margin-top: 0;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
}