.thumbnail-image-container {
  width: 100%;
  height: 250px;
  display: block;
  float: left;

  @media screen and (max-width: 548px) {
    font-size: 1.1em;
    margin-right: 10px;
  }
}

.thumbnail-image {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url('');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}